<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AutoHydrolics" value="false" />
		<add key="UfoPlugin" value="true" />
		<add key="CharCreatePlugin" value="true" />
		<add key="WarEmojiPlugin" value="true" />
		<add key="RanksBarPlugin" value="true" />
	</appSettings>
</configuration>